{
  "env": {
    "commonjs": true,
    "es2020": true,
    "node": true,
    "mocha": true
  },
  "extends": [
    "eslint:recommended",
    "prettier",
    "plugin:prettier/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 11
  },
  "plugins": [
    "prettier"
  ]
}
